.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  @media (max-width: 790px) {
    justify-content: flex-start;
  }

  &__title-container {
    display: flex;
    justify-content: flex-start;
    width: 80vw;

    @media (max-width: 790px) {
      width: 90vw;
      justify-content: center;
    }
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--foreground);

    @media (max-width: 790px) {
      font-size: 2rem;
      text-align: center;
    }
  }

  &__frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 80vw;
    height: fit-content;
    overflow: hidden;
    position: relative;

    @media (max-width: 790px) {
      height: auto;
      min-width: 90vw;
    }
  }
}

.work__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.work__arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
  margin-top: 1.5rem;
}

.work__arrow {
  background: none;
  border: none;
  cursor: pointer;
}

.work__arrow:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.work__arrow-icon {
  color: var(--foreground);
  width: 56px;
  height: 32px;
}

.work__info {
  font-size: 1.5rem;
  color: var(--foreground);
  text-align: center;
  margin: 0 1rem;
}