.footer {
  &__content {
    font-size: 1rem;
    font-weight: lighter;
    text-align: center;
  }
}

.contact .footer {
  position: fixed;
  bottom: 1rem;
  pointer-events: none;
}

@media screen and (max-width: 1079px) {
  .contact .footer {
    position: unset;
    bottom: unset;
  }
}