// Cores principais
$color-background-light: #E5E5E5 !default;
$color-background-dark: #5d5d5d !default;

$color-foreground-light: #5d5d5d !default;
$color-foreground-dark: #E5E5E5 !default;

$color-ascii-light: #131313 !default;
$color-ascii-dark: #000000 !default;

// Fontes
$font-jetbrains: 'JetBrains Mono', monospace !default;
$font-geist-mono: 'Geist Mono', monospace !default;