// Cores principais
$color-background-light: #E5E5E5 !default;
$color-background-dark: #4D4D4D !default;

$color-foreground-light: #4D4D4D !default;
$color-foreground-dark: #E5E5E5 !default;

// Fontes
$font-jetbrains: 'JetBrains Mono', monospace !default;
$font-geist-mono: 'Geist Mono', monospace !default;