.ascii-art {
  font-size: clamp(2px, 0.25vw, 12px);
  line-height: 1;
  font-family: monospace;
  color: var(--ascii);
}

.ascii-art.safari {
  line-height: 1.1 !important;
  font-family: monospace;
  color: var(--ascii);
}