.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding-bottom: 5rem;
    overflow-x: hidden;

    &__title-container {
      display: flex;
      justify-content: flex-start;
      width: 80vw;
    }

    &__title {
      font-size: 2.5rem;
      font-weight: 600;
      color: var(--foreground);
      text-align: center;
      margin: 0;
    }

    &__frame {
      display: flex;
      width: 80vw;
      height: 100%;
      margin: 2rem auto 0 auto;
      gap: 2rem;
      justify-content: space-between;
      align-items: flex-end;
      flex-wrap: wrap;
      padding: 0;
    }

    &__intro {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
      height: 100%;
      align-items: flex-start;
      text-align: left;
    }

    &__card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: auto;
      align-items: flex-start;
    }

    &__only-links-card {
      width: 40vw;
      min-width: 12vw;
      max-width: 40vw;
      margin-top: 1.5rem;
    }

    &__form-card {
      width: 40vw;
      min-width: 12vw;
      max-width: 40vw;
      height: 100%;
    }

    &__card-content {
      position: relative;
      background: rgba(255, 255, 255, 0.05);
      border: 0.5px solid color-mix(in srgb, var(--foreground), transparent 0%);
      backdrop-filter: blur(12px);
      -webkit-backdrop-filter: blur(12px);
      border-radius: 16px;
      padding: 1.5rem;
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    &__only-links {
      justify-content: center;
      padding: 2rem;
    }

    &__links {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      & .contact__icon {
        width: 1.5em;
        height: 1.5em;
        vertical-align: text-bottom;
        margin-right: 0.7em;
        display: inline-block;
        object-fit: contain;
        position: relative;
        top: 0.1em;
      }

      a {
        font-family: monospace;
        font-size: 1.2rem;
        color: var(--foreground);
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 0.2em;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &__info-title {
      font-size: 3rem;
      font-weight: 700;
      color: var(--foreground);
      margin: 0;
    }

    &__info-description {
      font-size: 3.75rem;
      font-weight: 600;
      margin: 0;
      color: var(--foreground);
      white-space: pre-line;
    }

    &__info-subtitle {
      font-size: 1.5rem;
      font-family: monospace;
      color: var(--foreground);
    }

    &__download-cv {
      margin-top: 1.5rem;
      display: inline-block;
      font-family: monospace;
      font-size: 1.5rem;
      padding: 0.5rem 1rem;
      border-radius: 6px;
      text-decoration: none;
      width: fit-content;
      background-color: var(--background);
      color: var(--foreground);
      border: 0.5px solid color-mix(in srgb, var(--foreground), transparent 0%);

      &:hover {
        background-color: var(--foreground);
        color: var(--background);
        border: 0.5px solid color-mix(in srgb, var(--background), transparent 0%);

      }
    }

    &__form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
      font-family: monospace;

      input,
      textarea {
        background: transparent;
        border: none;
        border-bottom: 0.5px solid color-mix(in srgb, var(--foreground), transparent 20%);
        font-size: 1.2rem;
        padding: 1rem;
        outline: none;
        color: var(--foreground);
        font-family: monospace;

        &::placeholder {
          font-size: 1.2rem;
          color: color-mix(in srgb, var(--foreground), transparent 50%);
        }
      }

      textarea {
        min-height: 120px;
        resize: none;
        line-height: 1.5;
      }

      button {
        margin-top: auto;
        align-self: flex-end;
        border-radius: 6px;
        cursor: pointer;
        font-size: 1.5rem;
        padding: 0.75rem 1.25rem;
        background-color: var(--background);
        color: var(--foreground);
        border: 0.5px solid color-mix(in srgb, var(--foreground), transparent 0%);


        &:hover {
          background-color: var(--foreground);
          color: var(--background);
          border: 0.5px solid color-mix(in srgb, var(--background), transparent 0%);
        }
      }
    }
  }

/* Tablets (≤ 1079px) */
@media (max-width: 1079px) {
  .contact {
    height: auto;
    min-height: unset;
    padding: 0;
    width: 90vw;

    &__title-container {
      width: 90vw;
      justify-content: center;
    }

    &__title {
      font-size: 2rem;
      text-align: center;
      margin: 0;
    }

    &__frame {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 90vw;
      height: auto;
      margin: 2rem auto 0 auto;
      gap: 2rem;
      padding: 0;
    }

    &__intro {
      align-items: center;
      text-align: center;
      width: 90vw;
      margin-bottom: 2rem;
    }

    &__card {
      align-items: center;
      width: 100%;
      margin-bottom: 2rem;
    }

    &__only-links-card,
    &__form-card {
      width: 100%;
      min-width: unset;
      max-width: unset;
    }
  }
}

/* Celulares (≤ 790px) */
@media (max-width: 790px) {
  .contact {
    min-height: 100vh;
    height: auto;
    width: 90vw;
    padding: 0;
    margin: auto;

    &__title-container {
      width: 90vw;
      justify-content: center;
      margin: unset;
    }

    &__title {
      font-size: 2rem;
      text-align: center;
      margin: unset;
      padding: auto;
    }

    &__frame {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 90vw;
      height: auto;
      margin: 2rem auto 0 auto;
      gap: 0;
      padding: 0;
    }

    &__intro {
      align-items: center;
      text-align: center;
      width: 90vw;
      margin-bottom: 2rem;
    }

     &__info-description {
      font-size: 2.5rem;
      margin-bottom: 2rem;
     }

    &__card {
      align-items: center;
      width: 100%;
      margin-bottom: 2rem;
    }

    &__only-links {
      justify-content: center;
      align-items: center;
      padding: 1rem;
    }

    &__form {
      button {
        margin-top: 2rem;
        margin-bottom: 1rem;
        align-self: center;
        padding: 1rem;
        min-width: 200px;
      }
    }

    &__download-cv {
      margin-bottom: 2rem;
    }

    &__links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.5rem;
    }

    &__only-links-card {
      width: 100%;
      min-width: unset;
      max-width: unset;
      margin-bottom: 0;
      margin-top: 1.5rem;
    }

    &__form-card {
      width: 100%;
      min-width: unset;
      max-width: unset;
      margin-bottom: 3rem;
    }
  }
}