@use '../abstracts/variables' as vars;

:root {
  --background: #{vars.$color-background-light};
  --foreground: #{vars.$color-foreground-light};
  --font-family: var(--font-jetbrains, #{vars.$font-jetbrains});
}

.dark {
  --background: #{vars.$color-background-dark};
  --foreground: #{vars.$color-foreground-dark};
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jetbrains);
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

  @media (max-width: 790px) {
    html {
      scroll-snap-type: none;
    }
  }

}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

.section {
  scroll-snap-align: start;

  @media (max-width: 790px) {
    html {
      scroll-snap-type: none;
    }
  }
}

* {
  box-sizing: border-box;
}

@keyframes reflect-move {
  0% {
    transform: rotate(15deg) translate(0px, 0px);
  }

  50% {
    transform: rotate(15deg) translate(20px, 20px);
  }

  100% {
    transform: rotate(15deg) translate(0px, 0px);
  }
}