.stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;

  &__title-container {
    display: flex;
    justify-content: flex-start;
    width: 80vw;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--foreground);
  }

  &__hive-grid {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    height: 75vh;
  }
}

@media (max-width: 790px) {
  .stack {
    min-height: 100vh;
    height: auto;
    width: 90vw;
    padding: 0;
    margin: auto;

    &__title {
      font-size: 2rem;
      text-align: center;
    }

    &__frame {
      height: auto;
      width: 90vw;
    }

    &__grid {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    &__title-container {
      width: 90vw;
      justify-content: center;
    }

    &__hive-grid {
      display: flex !important;
      flex-direction: column !important;
      align-items: center !important;
      justify-content: center !important;
      width: 100% !important;
      height: auto !important;
      min-width: 0 !important;
      min-height: unset !important;
      max-width: 100vw !important;
      max-height: unset !important;
      margin: 0 auto !important;
      margin-bottom: 10rem !important;
    }
  }
}