.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: none;

  &__title-container{
      display: flex;
      justify-content: flex-start;
      width: 80vw;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--foreground);
  }

  &__frame {
    display: flex;
    width: 80vw;
    height: 60vh;
  }

  &__grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
