.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;

  &__title-container {
    display: flex;
    justify-content: flex-start;
    width: 80vw;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--foreground);
  }

  &__frame {
    display: flex;
    width: 80vw;
    height: 60vh;
  }

  &__gyro_button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }

  &__gyro_text {
    font-size: 0.5rem;
    opacity: 0.7;
    color: var(--foreground);
  }

  &__grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

/* Wide monitors (21:9) */
@media (min-aspect-ratio: 21/9) {
  .services {
    &__frame {
      width: 90vw;
    }

    &__title-container {
      width: 90vw;
    }

    &__grid {
      gap: 3rem;
    }
  }
}

/* Tablets (≤ 1240px) */
@media (max-width: 1240px) {
  .services {
    &__frame {
      height: auto;
      width: 90vw;
    }
  }
}

/* Celulares (≤ 790px) */
@media (max-width: 790px) {
  .services {
    height: fit-content;
    min-height: fit-content;
    padding: 0;

    &__title {
      font-size: 2rem;
      text-align: center;
    }

    &__frame {
      height: auto;
      width: 90vw;
    }

    &__grid {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    &__title-container {
      width: 90vw;
      justify-content: center;
    }
  }
}
