.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid var(--foreground);

  &__logo {
    font-size: 2.5rem;
    font-weight: lighter;
    font-family: var(--font-mono, monospace);
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__menu {
    display: flex;
    gap: 1.25rem;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      cursor: pointer;
      font-size: 1.2rem;
      font-weight: normal;
    }
  }
}
